<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">

        .imgbook {
            transition: all 1s ease-in;
            width: 200px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        body {
            display: flex;
            flex-direction: column;
        }

        .list-group {
            min-width: 250px;
            margin: 10px;
        }

        .book-info {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 20px;
        }

            .book-info div {
                flex: 1;
            }

        #container {
            display: flex;
            flex-direction: row;
            padding: 5px;
        }

        .Contrainer-Book {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .book-info > img {
            width: 150px;
            height: 200px;
            margin: 5px;
        }

        .imgsachbannhieu {
            width: 100px;
        }

        .tensach {
            color: red;
            text-align: center;
            background-image: linear-gradient(blue, white);
        }
    </style>

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <!--navbar-fixed-top-->
        <div class="container">
            @Html.Action("NavPartial", "SachOnline")
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="container">
        <div>
            @Html.Action("ChuDePartial", "SachOnline")
            @Html.Action("NhaXuatBanPartial", "SachOnline")

        </div>
        <div>@RenderBody()</div>
    </div>
    @RenderSection("MenuPager", required: false);
    @RenderSection("SachBanNhieuPartial", required: false)

</body>
</html>
